.header {
    grid-column: full-start / full-end;
    background-color: rgb(15, 9, 22);

    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    color: #fff;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}

.header__nav--list {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}