.user {

    grid-column: col-start 1 / col-end;

    display: flex;
    align-items: center;

    gap: 1rem;
    border: .1rem solid  #4f336260;
    padding: .5rem;
    border-radius: .2rem;
    cursor: pointer;
    transition: ease .2s;

    &:hover {
        background-color: #4f336260;
    }

    &__profile {
        width: 7rem;
        clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
        object-fit: cover;

        &--img {
            width: 100%;
            height: 100%;

        }
    }

    &__title {
        color: #fff;
        text-transform: capitalize;
    }


}