body {
  padding: 0;
  margin: 0;
  background-color: #1f0f2a;
  
}

.home {
  background-color: red;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  display: none;
}